[submodule "Label-Generator"]
	path = Label-Generator
	url = https://github.com/HX2003/Label-Generator
[submodule "Random-Equation-Generator"]
	path = Random-Equation-Generator
	url = https://github.com/HX2003/Random-Equation-Generator