[submodule "static/Label-Generator"]
	path = static/Label-Generator
	url = https://github.com/HX2003/Label-Generator.git
[submodule "static/Random-Equation-Generator"]
	path = static/Random-Equation-Generator
	url = https://github.com/HX2003/Random-Equation-Generator.git
[submodule "static/Waveseek"]
	path = static/Waveseek
	url = https://github.com/HX2003/Waveseek.gits
